.mycb:checked + label > span {
    /* background-color: bisque; */
    @apply border-primary;
}
    
.mycb:checked + label > span > span {
    display:flex;
    @apply text-primary;
    @apply text-xs;
}
.mycb.disabled:checked + label > span {
    /* background-color: bisque; */
    @apply border-primary;
    opacity: .5;
}

.mycb.disabled:checked + label > span > span {
    display:flex;
    @apply text-primary;
    @apply text-xs;
    opacity: .5;
}
.mycb.disabled + label > span{
    opacity: .5;
    @apply bg-lightgray;
    
}