:root {
  /* --width: 200px; */
  /* --width: 100%; */
}

.slider {
    position: relative;
    /* width: 200px; */
    width: 100%;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 3px;
    position: absolute;
  }
  
  .slider__track {
    /* background-color: #9fe5e1; */
    @apply bg-duck-egg-blue;
    /* background-color: #296fb4; */
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    /* background-color: #9fe5e1; */
    z-index: 2;
  }

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
  left: 0;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
  /* transform: translateX(.5rem); */
}

input[type='range']::-webkit-slider-runnable-track{
  width: 10px;
}
/* 
input[type='range']::-webkit-slider-runnable-track::before{
  width: 10px;
} */

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  /* background-color: brown; */
  opacity: 0;
  border: none;
  border-radius: 50%;
  /* box-shadow: 0 0 1px 1px #ced4da; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: white;
  border: none;
  border-radius: 50%;
  /* box-shadow: 0 0 1px 1px #ced4da; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.line {
  width: 1px;
}