@tailwind base;
@tailwind components;

@font-face {
    font-family: 'OronMFW';
    src:  url('./fonts/OronLight-Regular_MFW.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OronMFW-Bold';
    src:  url('./fonts/Oron-Bold_MFW.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OronMFW-Medium';
    src:  url('./fonts/Oron-Medium_MFW.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-hb-bold';
    src:  url('./fonts/OpenSansHebrew-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-hb-extrabold';
    src:  url('./fonts/OpenSansHebrew-ExtraBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-hb-light';
    src:  url('./fonts/OpenSansHebrew-Light.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-hb-regular';
    src:  url('./fonts/OpenSansHebrew-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

@tailwind utilities;